{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>World Countries</title>
    <link rel="stylesheet" type="text/css" href="{% static "bower-bootswatch-paper/css/paper.css" %}">
    <style>
        nav.navbar {
            background-image: url(http://www.amir.ninja/content/images/2015/12/Hello-World.png);
            background-size: cover;
            background-position-y: 310px;
        }

        .navbar-brand {
            color: #ffffff !important;
        }
        .navbar .navbar-nav a {
            font-size: 1.2em;
            color: #f0f0f0 !important;
        }
        .navbar .navbar-nav a:hover {
            color: #ffffff !important;
        }
    </style>
</head>

<body ng-app="worldCountries" role="document">

<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header"><span class="navbar-brand">World Countries</span></div>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="#/">List</a></li>
                <li><a ng-href="#/top5">Top 5</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container theme-showcase" role="main">
    <div class="content">
        <div ng-view></div>
    </div>
</div>

<script src="{% static "angular/angular.js" %}"></script>
<script src="{% static "angular-route/angular-route.js" %}"></script>
<script src="{% static "angular-resource/angular-resource.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>

</body>
</html>
