{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>World Countries</title>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.css" %}">
</head>

<body ng-app="worldCountries" role="document">

<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">World Countries</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="#/"><i class="fa fa-home"></i> List</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container theme-showcase" role="main">
    <div ng-view></div>
</div>

<script src="{% static "angular/angular.js" %}"></script>
<script src="{% static "angular-route/angular-route.js" %}"></script>
<script src="{% static "angular-resource/angular-resource.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>

</body>
</html>
